<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/final.css')}}">
</head>
<body id="aboutus-body">
    <!-- Your HTML goes here -->
    <!-- These lines below are for the menu. They would 
    be present on every page, at the top.-->
	
    <div class="dropdown">
      <a href="{{url_for('home_page')}}"><button class="dropbtn">Menu</button></a>
      <div class="dropdown-content">
        <a href="{{url_for('about_page')}}">About us</a>
        <a href="{{url_for('log_in_page')}}">Log in</a>
        <a href="{{url_for('matches_page')}}">Find newspaper matches</a>
      </div>
      </div>
      <div class="block_1">
       <h1 style="font-size: 45px;"> &nbsp Newsletter Cloud</h1> 
        <h3>&nbsp Created by Naomi Wilson and Justine Zhao</h3>
      </div>
      
      <div>
    <a href="https://www.linkedin.com/in/justinezhao1/" target="_blank">
        <div style="background-color: white; width: 180px; height: 250px">
          <img src="https://media.licdn.com/dms/image/C4E03AQFm1bAjE78UQw/profile-displayphoto-shrink_400_400/0/1663111649625?e=1706745600&v=beta&t=kKDZB6bOi0XXQmCNTrHsT5V2dJGwvvlFT9olpsbXN78" alt="Justine's Linkedin Profile" style="width:142px;height:142px; border-radius: 100px; padding-left: 5%; padding-right: 5%;"></a>
          <p style="background: grey;">
WORDS
          </p>
        </div>

        <a href="https://www.linkedin.com/in/naomiwilson2024/" target="_blank">
          <div style="background-color: white; width: 180px; height: 250px">
            <img src="https://media.licdn.com/dms/image/C4E03AQFAMnxABz8IGw/profile-displayphoto-shrink_400_400/0/1636673997716?e=1706745600&v=beta&t=iK9_T9IsuxPRfnyM8SZo1Yhas9DtrXN_RkG7j3gEzKE" alt="Naomi's Linkedin Profile" style="width:142px;height:142px; border-radius: 100px; padding-left: 5%; padding-right: 5%;"></a>
            <p style="background: grey;">
  WORDS
            </p>
          </div>
    
</body>
</html>