<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/final.css')}}">
    <style>
    @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 100%;
      }
  }</style>

</head>
<body id="aboutus-body">
    <!-- Your HTML goes here -->
    <!-- These lines below are for the menu. They would 
    be present on every page, at the top.-->
	
    <div class="dropdown">
      <a href="{{url_for('home_page')}}"><button class="dropbtn">Home</button></a>
      <div class="dropdown-content">
        <a href="{{url_for('about_page')}}">About us</a>
        <a href="{{url_for('log_in_page_get')}}">Log in</a>
        <a href="{{url_for('matches_page_get')}}">Find newspaper matches</a>
      </div>
      </div>
      
      
 
      <div id="aboutus_background"></div>
      <a href="https://www.linkedin.com/in/justinezhao1/" target="_blank" title="Justine's Linkedin">
        <div id="justine_linkedin_block"> 
          <br>
              <br>
            <img  src="https://media.licdn.com/dms/image/C4E03AQFm1bAjE78UQw/profile-displayphoto-shrink_400_400/0/1663111649625?e=1706745600&v=beta&t=kKDZB6bOi0XXQmCNTrHsT5V2dJGwvvlFT9olpsbXN78" alt="Justine's Linkedin Profile" class="linkedin"></a>
            <p id="linkedin_justine_text">
              Justine is currently a senior at Babson College, and 
            </p>
          </div>
          <a href="https://www.linkedin.com/in/naomiwilson2024/" target="_blank" title="Naomi's Linkedin">
            <div id="Naomi_linkedin_block">
              <br>
              <br>
              <img src="https://media.licdn.com/dms/image/C4E03AQFAMnxABz8IGw/profile-displayphoto-shrink_400_400/0/1636673997716?e=1706745600&v=beta&t=iK9_T9IsuxPRfnyM8SZo1Yhas9DtrXN_RkG7j3gEzKE" alt="Naomi's Linkedin Profile" class="linkedin"></a>
              <p id="linkedin_Naomi_text">
                Naomi is currently a senior at Babson College, and 
              </p>
            </div>
            
            <hr style="width: 35%; color: bisque; margin-top: 7%; margin-left: 45%;">
            <img src="/static/images/brown_wall.png" alt="Aboutus_brownwallpaper" style="height: 940px;margin-top: -45%; margin-bottom: -10%; width: 400px; position: static;">
            <div style="margin-left: 5%; margin-top: -47%; color: #E8D8DC;">
              <h2>N</h2>
              <h2>E</h2>
              <h2>W</h2>
              <h2>S</h2>
              <h2>L</h2>
              <h2>E</h2>
              <h2>T</h2>
              <h2>T</h2>
              <h2>E</h2>
              <h2>R</h2>
              <br>
              <h2>C</h2>
              <h2>L</h2>
              <h2>O</h2>
              <h2>U</h2>
              <h2>D</h2>
            </div>
      
          
</body>
</html>