<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
</head>
<body id="login-body">
    <!-- Your HTML goes here -->
    <!-- These lines below are for the menu. They would 
    be present on every page, at the top.-->
	
    <div class="dropdown">
      <a href="{{url_for('home_page')}}"><button class="dropbtn">Home</button></a>
      <div class="dropdown-content">
        <a href="{{url_for('about_page')}}">About us</a>
        <a href="{{url_for('log_in_page_get')}}">Log in</a>
      </div>
      </div>
      <div class="block_1">
       <h1 style="font-size: 45px;"> &nbsp Newsletter Cloud</h1> 
        <h3>&nbsp Created by Naomi Wilson and Justine Zhao</h3>
      </div>
      <form action="" id="login_form" method="post" >
        <input type="text" id="username-input" name="username" placeholder="Enter  Username" style="height: 40px; width: 60%;">
        <br>
        <br>
        <input type="text" id="password-input" name="password" placeholder="Enter password" style="height: 40px; width: 60%;">
        <br>
        <button id= "login_button">Log in </button>
        <br>
        <a href="{{url_for('create_new_account_page_get')}}" style="font-size: 20px; color: white ; background-color: #BF8AA2;">Dont have an account? Create one account here</a>
    
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}

    </form>
    
    <h6 id="footer">Newsletter Cloud | Computer science for business students | Professor Zhi Li</h6>
    
</body>
</html>