<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/final.css')}}">
</head>
<body id="login-body">
    <!-- Your HTML goes here -->
    <!-- These lines below are for the menu. They would 
    be present on every page, at the top.-->
	
    <div class="dropdown">
      <a href="{{url_for('home_page')}}"><button class="dropbtn">Menu</button></a>
      <div class="dropdown-content">
        <a href="{{url_for('about_page')}}">About us</a>
        <a href="{{url_for('log_in_page')}}">Log in</a>
        <a href="{{url_for('matches_page')}}">Find newspaper matches</a>
      </div>
      </div>
      <div class="block_1">
       <h1 style="font-size: 45px;"> &nbsp Newsletter Cloud</h1> 
        <h3>&nbsp Created by Naomi Wilson and Justine Zhao</h3>
      </div>
      <form action="" style="block-size: 500px;">
        <input type="text" id="email-input" name="email_input" placeholder="Enter email address">
        <button>Log In</button>
    </form>
</body>
</html>