<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match with a newspaper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/matches.css')}}">
</head>
<body id="matches-body" >
    <!-- Your HTML goes here -->
    <!-- These lines below are for the menu. They would 
    be present on every page, at the top.-->
	
    <div class="dropdown">
      <a href="{{url_for('home_page')}}"><button class="dropbtn">Home</button></a>
      <div class="dropdown-content">
        <a href="{{url_for('about_page')}}">About us</a>
        <a href="{{url_for('log_in_page_get')}}">Log in</a>
        <a href="{{url_for('matches_page_get')}}">Find newspaper matches</a>
      </div>
      </div>
      <div class="block_1">
       <h1 style="font-size: 45px;"> &nbsp Newsletter Cloud</h1> 
        <h3>&nbsp Created by Naomi Wilson and Justine Zhao</h3>
      </div>
      
      <h2 style="position: absolute; top: 80px; left: 500px; width: 800px; background-color: white; opacity: 80%;">Having trouble finding what newsletters to subscribe to? Select topics you are interested in below and click the submit button to see which newsletters are most reccommended!</h2>
    
    <form action="{{ url_for('matches_page_post') }}" method="post">
      
      <div>
      <label><input type="checkbox" value="Current Events" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute;left: 5rem;top: 18rem;" /> 
      <img src="/static/images/CurrentEvents.jpg" alt="CurrentEvents Icon" class="match_icon" id="CurrentEvents" style="height:170px;" title="" ></label>

      <label><input type="checkbox" value="Finance and Markets" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute;left: 26rem;top: 18rem; " /> 
      <img src="/static/images/FinanceMarkets.jpg" alt="FinanceMarkets Icon" class="match_icon" id="FinanceMarkets" style="height:170px;" title="" ></label>

      <label><input type="checkbox" value="Food and Agriculture" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute; left: 47rem;top: 18rem;" /> 
      <img src="/static/images/FoodAgriculture.jpg" alt="FoodAgriculture Icon" class="match_icon" id="FoodAgriculture" style="height:170px;" title="" ></label>

      <label><input type="checkbox" value="Sustainability and the Environment" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute; left: 68rem;top: 18rem;" /> 
      <img src="/static/images/Sustainability.jpg" alt="Sustainability Icon" class="match_icon" id="Sustainability" style="height:170px;" title="" ></label>

      <label><input type="checkbox" value="Science" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute;left: 5rem;top: 30.5rem;" /> 
      <img src="/static/images/science.jpg" alt="science Icon" class="match_icon" id="science" style="height:170px;" title="" ></label>

      
      <label><input type="checkbox" value="Education" name = "option" class="checkbox_css" style="transform : scale(3);position: absolute;left: 26rem;top: 30.5rem; " /> 
      <img src="/static/images/Education.jpg" alt="Education Icon" class="match_icon" id="Education" style="height:170px;" title="" ></label>

      <label><input type="checkbox" value="Health and Medicine" name = "option"  class="checkbox_css" style="transform : scale(3);position: absolute; left: 47rem;top: 30.5rem;" /> 
      <img src="/static/images/HealthMedicine.jpg" alt="HealthMedicine Icon" class="match_icon" id="HealthMedicine" style="height:170px;" title="" ></label>
      <button id= "submit_button">Submit to get newsletter reccomondations </button>
    </div>


    </form>
    
    <h6 id="footer">Newsletter Cloud | Computer science for business students | Professor Zhi Li</h6>
</body>
</html>