
  
  #aboutus-body{
    background-color: #EAD8DC; background-size: cover;
  }
  
  
  .dropbtn {
      background-color: #f7882f;
      color: white;
      padding:  16px 36px 16px 36px;
      font-size: 20px;
      border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 90%;
  
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: 	#e2e0e0;
      min-width: 160px;
      
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f7c331;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #f7882f;}
 
   
  
    #learn_more{background-color: #BF8AA2;
      color: white;
      padding:  10px 30px 10px 30px;
      font-size: 16px;
      border: none; border-radius: 5px;}
  
  #footer {margin-top: 11%;}
  
  
  
  #justine_linkedin_block {background-color: #FDFBF2; width: 200px; height: 280px;  text-align: center; margin-top: -27.50%; margin-left: 67%; border-radius: 20px; animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; position: static;}
  
  #linkedin_justine_text {background: #E8D8DC;padding-left: 5%; padding-right: 5%;} 
  
  #Naomi_linkedin_block {background-color: #FDFBF2; width: 200px; height: 280px;  text-align: center; margin-top: -19.50%; margin-left: 40%; border-radius: 20px; animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;position: static;}
  
  #linkedin_Naomi_text {background: #E8D8DC;padding-left: 5%; padding-right: 5%;} 
  
  .linkedin {width:172px;height:172px;  padding-left: 5%; padding-right: 5%;}
  
  #aboutus_background {background-color: #BF8AA2; height: 450px; position: static; margin-top: 8%;}
  #footer {margin-top: -0.5%;}